.favorites--slider {
  width: 100%;
  height: 100%;

  .favorites--slider-center {
    background-color: #ffffff;
    height: 230px;
    width: 85%;
    margin: 10px auto 0px auto;
    border: 1px solid lightgray;
    border-radius: 18px;
    cursor: pointer;
    .favorites--slider-header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 20px 10px 30px 10px;
      h2 {
        text-align: center;
        font-family: var(--font--IRyekan);
        font-size: 21px;
        font-weight: 550;
      }
    }
    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      /* width: 100%;
  height: 100%; */
    }
  }
}
.goosh-nakard {
  margin-top: 30px;
}
