.iconic--category {
  width: 85%;
  height: 130px;
  margin: 10px auto;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  align-items: center;
  justify-content: space-between;
  .i--cat-item {
    .i--cat-columns {
      width: 100px;
      height: 80px;
      cursor: pointer;
      /* display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; */
      img {
        display: block;
        width: 50px;
        height: 50px;
        margin: 0px auto;
      }
      span {
        display: block;
        font-size: 12px;
        font-weight: 600;
        color: rgb(109, 108, 112);
        font-family: var(--font--IRyekan);
        text-align: center;
        line-height: 25px;
      }
    }
  }
}
.i--cat-more-icon {
  width: 50px;
  height: 50px;
  margin: 0px auto;
  border-radius: 50%;
  background-color: rgb(227, 225, 225);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  .i--cat-more-svg {
    width: 25px !important;
    height: 25px !important;
    margin-top: 0px;
  }
}
