/* here is first slider */
.slider {
  width: 100%;
  height: 400px;
  background-color: black;
  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:active {
      cursor: grab;
    }
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  width: 40px !important;
  height: 40px !important;
  background-color: whitesmoke;
  border-radius: 50%;
  border: 1px solid lightgray;
}
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  font-size: 14px !important;
  font-weight: bold;
  color: black;
}
.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 0 !important;
  cursor: auto;
  pointer-events: none;
}
